body {
    background-color: cadetblue;
    background-image: url("cloud background.png");
    background-blend-mode: soft-light;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}
h1 {
    color: black;
    font-size: 300%;
    text-align: center;
}
h2 {
    color: black;
    text-decoration: underline;
}
p {
    color: black;
    text-align: center;
}